a {
  text-decoration: none;
}

p {
  color: white;
  font-size: 20px;
  font-family: "Roboto", Sans-Serif;
}

i:hover {
  cursor: pointer;
  color: grey;
}

.w3-row {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  font-size: 18px;
  font-style: Roboto;
}

.w3-row .w3-red {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-header {
  height: 50px;
  color: black;
}

img {
  height: 30px;
  width: 30px;
  padding-bottom: 5px;
}
